<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>My First App</title>
	</head>
	<body>
		<h3>使用者清單</h3>
		<div id="user-list">
			
        </div>
		<script type="text/javascript">
			var http = new XMLHttpRequest;
			http.open('GET', '/users');
			http.onload = function () {
				var content = '';
				var users = JSON.parse(this.response);
				
				for (var i in users) {
					var user = users[i];
					
					content += '<li>';
					content += '<p>ID: ' + user['id'] + '</p>';
					content += '<p>帳號: ' + user['name'] + '</p>';
					content += '</li>';
				}
				
				document.querySelector('#user-list').innerHTML = '<ul>' + content + '</ul>';
			}
			http.send();
		</script>
	</body>
</html>